<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    
    <h1>회원가입</h1>

    <form action="/register" method="POST">
        <fieldset>
            <label for="">아이디<input type="text" name="username"></label>
        </fieldset><br>
        <fieldset>
            <label for="">비밀번호<input type="password" name="password"></label><br><br>
            <label for="">비밀번호 확인<input type="password" name="password2"></label>
        </fieldset>
        <input type="submit" value="회원가입"><br>
    </form>
</body>
</html>